html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="text"], select, input[type="date"] {
  padding: 10px;
  margin: 10px 0;
  width: 300px;
}

input[type="submit"], #sort-tasks {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover, #sort-tasks:hover {
  background-color: #218838;
}


#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}


li.high {
  color: red;
}

li.medium {
  color: orange;
}

li.low {
  color: green;
}


.delete-button, .edit-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.delete-button:hover, .edit-button:hover {
  background-color: #c82333;
}
